body {
   margin: 0;
} 
/* Header */
.navWeb {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 1rem;
}
.navWeb ul {
   padding: 0;
   margin-top: .5rem;
   list-style: none;
   display: flex;
   
}
a {
   text-decoration: none
}
.webli {
   padding: .75rem
}
.xoleHeader {
   width: 8.5rem;
   height: 5.95rem;
}
/* Linked */
.xoleHeaderLinked {
   width: 6rem;
   height: 4.2rem;
}




/* MiddleMain */
.xoleLetters {
   margin-bottom: 3rem;
   display: flex;
   width: 100vw;
   align-items: center;    
   justify-content: center;  
}
.parent{
   display: flex;
   width: 100vw;
   align-items: center;    
   justify-content: center;  
   
}
.child {
   width: 50vw;
   height: 50vh;
}
.video-responsive {
   overflow: hidden;
   padding-bottom: 56.25%;
   position: relative;
   height: 0;
 }
 
 .video-responsive iframe {
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   position: absolute;
 }
 .island {
   position: relative;
   bottom: 10rem;
   width: 9.5rem;
   height: 9.5rem;
   padding-left: 15%;
 }
 .parentContainer {
   display: flex;
   height: 91vh;
   align-items: center;    
   justify-content: center; 
 }

 .container {
   margin-bottom: 10rem;
   width: 80vw;
   height: 50vh;
   display: flex;
   place-content: center;
   place-items: center;
   overflow: hidden;
   
   border-radius: 30px;
 }
 
 .item {
   padding: 2rem;
   width: 107.5px;
   height: 55px;
   justify-content: center;
   align-items: center;
   background-image: linear-gradient(black, rgb(36, 77, 165));
   border-radius: inherit;
 }
/* Button */
.buttonParent {
   width: 9rem;
   heigth: 2rem;
   margin-right: 2rem;
   text-align: center;
   padding: .7rem;
   background: #071c31;
   border-radius: 1.5rem;
   box-shadow: 2px 2px 5px lightblue;
}
 
/* contact */
.contactParent {
   display: flex;
   height: 90vh;
   width: 100vw;
   align-items: center;    
   justify-content: center;  
}
.contactChild {
   margin: 2rem
}

/* Music */
.musicMainDiv {
   height: 150vh;
   
}
.grid {
   display: grid;
   justify-content: center;
   align-items: center;
   grid-template-columns: auto auto auto;
   grid-template-rows: auto;
   width: 98vw;
   height: 100vh;
   
}


/* Music Item */
.musicItemImage {
   height: 20rem;
   width: 20rem;
}
.grid-item {
   margin: 4rem;
   
}
@media screen and (max-width: 1300px) {
   .musicItemImage
    {
      height: 15rem;
      width: 15rem;
   }
   .grid-item {
      margin: 2rem;
      
   }
 }
 @media screen and (max-width: 1050px) {
   .grid
    {
      grid-template-columns: auto;
      grid-template-rows: auto auto auto;
      
   }
   .musicItemImage
    {
      height: 20rem;
      width: 20rem;
   }
 }



